.registerContainer {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 3fr;
}
.leftSignUpContainer {
    display: flex;
    flex-flow: column;
    background-color: #1a202c;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    img {
        width: 60%;
        max-width: 900px;
    }
    .text {
        font-size: 2rem;
        font-weight: 800;
    }
}
.rightSignUpContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #171923;
    .comp {
        display: flex;
        flex-flow: column;
        // gap: 2rem;
        background-color: #2d3748;
        border-radius: 10px;
        border: 1px white solid;
        width: 60%;
        .peak {
            display: flex;
            flex-flow: row;
            justify-content: flex-start;
            align-items: center;
            column-gap: 1rem;
            margin: 2rem 1.5rem;
            font-size: 1rem;
            .icontainer {
                border-radius: 50%;
                background-color: #38b2ac;
                font-size: 1.5rem;
                width: 25x;
                height: 25px;
                svg {
                    color: #f5f6f7;
                }
            }
        }
        button {
            background-color: #4fd1c5;
            border: none;
            padding: 0.5rem 0.75rem;
            font-weight: 600;
            border-radius: 25px;
            font-size: 0.75rem;
            margin: 1rem 0em 1rem 1.5rem;
            width: 70px;
            cursor: pointer;
            &:disabled {
                cursor: not-allowed;
                // pointer-events: none;
            }
        }
        .form {
            display: none;
            flex-flow: column;
            gap: 1.5rem;
            align-items: baseline;
            margin: 0rem 1rem;
            .form-fields {
                display: flex;
                flex-flow: column;
                padding: 0rem 0.75rem;
                width: 100%;
                label {
                    margin-bottom: 5px;
                }
                input,
                select {
                    background-color: #1a202c;
                    color: #cbd0f7;
                    border: none;
                    height: 40px;
                    padding: 0 10px;
                    outline: none;
                    border-radius: 5px;
                }
            }
        }
    }
    .remove {
        display: flex !important;
    }
}
.masterContainer {
    display: flex;
    height: 100%;
    align-items: center;
}
.homeContainer {
    margin: 1.5rem 0;
    .title {
        font-size: 2rem;
        text-align: center;
        font-weight: 1000;
    }
    .content {
        max-width: 450px;
        margin: 0rem auto;
        margin-top: 1rem;
        text-align: center;
        font-size: 0.875rem;
        line-height: 1.5rem;
        padding: 1.5rem 1rem;
    }
    .btnContainer {
        display: flex;
        gap: 1.5rem;
        flex-flow: column;
        align-items: center;
        margin-top: 2rem;
    }
    .Docsbtn {
        width: 210px;
        padding: 1rem 2rem;
        border-radius: 2px;
        color: white;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: #38b2ac;
        box-shadow: white;
        text-align: center;
        cursor: pointer;
    }
    .Apibtn {
        width: 210px;
        padding: 1rem 2rem;
        border-radius: 2px;
        font-size: 1.2rem;
        font-weight: 600;
        background-color: #38b2ac;
        box-shadow: black;
        text-align: center;
        cursor: pointer;
    }
}
@media screen and (min-width: 700px) {
    .homeContainer {
        max-width: 1140px;
        margin: auto;
        .title {
            font-size: 5rem;
            text-align: center;
            font-weight: 1000;
        }
        .content {
            max-width: 900px;
            margin-top: 1rem;
            text-align: center;
            font-size: 1.25rem;
            line-height: 2rem;
            padding: 1.5rem 1rem;
        }
        .btnContainer {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            margin-top: 3rem;
        }
        .Docsbtn {
            margin-top: 0rem;
            &:hover {
                background-color: #4fd1c5;
                box-shadow: white;
            }
        }
        .Apibtn {
            &:hover {
                box-shadow: white;
                background-color: #4fd1c5;
            }
        }
    }
}

.nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #1a202c;
    margin: 0 auto;
    .logo {
        color: #4fd1c5;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .navHead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 1rem;
    }
    .navToggle {
        width: 24px;
        height: 24px;
        font-size: 1.5rem;
        background: transparent;
        border-color: transparent;
        border: 0;
        cursor: pointer;
    }
    .navCenter {
        position: absolute;
        height: 0;
        width: 100vw;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        background-color: #1a202c;
        a {
            padding: 1.5rem 1rem;
            font-weight: 500;
            font-size: 1.25rem;
            cursor: pointer;
            &:hover {
                color: #81e6d9;
            }
        }
    }
    .navEnd {
        display: none;
    }
}
@media screen and (min-width: 900px) {
    .logo {
        font-size: 2rem;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navToggle {
            display: none;
        }
        .navCenter {
            position: static;
            width: auto !important;
            height: auto !important;
            flex-flow: row;
            background-color: transparent;
            a {
                padding: 0 2rem;
                color: #e6fffa;
                font-weight: 500;
            }
        }
    }
}
.homeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 30px;
    height: 30px;
    background-color: #171923;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.5);
    p {
        font-size: 1.5rem;
        font-weight: bold;
        color: #4fd1c5;
    }
}
