.registerContainer {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 3fr;
}
.leftSignUpContainer {
    display: flex;
    flex-flow: column;
    background-color: #1a202c;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    img {
        width: 60%;
        max-width: 900px;
    }
    .text {
        color: #f5f6f7;
        font-size: 2rem;
        font-weight: 800;
    }
}
.rightSignUpContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
    background-color: #171923;
    .comp {
        display: flex;
        flex-flow: column;
        gap: 2rem;
        padding: 1rem;
        background-color: #343434;
        .peak {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            .icontainer {
                border-radius: 50%;
                background-color: #4ec8ca;
                width: 25x;
                height: 25px;
                svg {
                    color: #f5f6f7;
                }
            }
        }
        .form {
            display: flex;
            flex-flow: column;
        }
    }
}
